<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>欢迎使用VA管理系统</title>
  <link rel="stylesheet" href="{{cssPath}}/{{ cssMap['index.css'] }}">
</head>
<body>
  <div id="app">loading...</div>
  <p>{{ cssMap | dump }}</p>
  <script src="{{jsPath}}/{{ jsMap['common.js'] }}"></script>
</body>
</html>